html, body {
  margin: 0;
  padding: 0;
  border: none;
}

@font-face {
  font-family: 'neue';
  src: url('fonts/NeueHelvetica-Bold.otf') format('opentype'), /* Corrected file format to 'truetype' */
       url('fonts/NeuePlak-Bold.ttf') format('truetype'); /* Corrected file format to 'truetype' */
  /* Add additional font formats if needed */
}




.App {
  color: white;
  text-align: center;
  background-color: transparent;
  
}

.container {
  width: 40rem;
  height: 23rem;
  background-color: #262626; /* Update this with the color code of ChatGPT window */
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: 'neue', Arial, sans-serif;
  color: white;
  text-align: center;
}
